.App {
  text-align: center;
}

.bgimage {
  background-image: url('hero-bg.jpg');
  background-size: cover;
  background-position: right;
  /* background-attachment: fixed; */
}

.image1:hover {
  transform: scale(1.1, 1.1);
  overflow: hidden;
  transition: 0.5s;
}

a:link {
  text-decoration: none;
  color: #fff;
}